# OpenSSL-related files best not committed


# CDK
aws-infra/test/__snapshots__/
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out

# IDEs
.idea
*.iml

# SSH
id_ed25519
id_rsa

## Certificate Authority
*.ca
## Certificate
*.crt
## Certificate Sign Request
*.csr
## Certificate
*.der
## Key database file
*.kdb
## OSCP request data
*.org
## PKCS #12
*.p12
## PEM-encoded certificate data
*.pem
## Random number seed
*.rnd
## SSLeay data
*.ssleay
## S/MIME message
*.smime